.title {
    width: 100%;
    height: 1000px;
    background-image: url("../images/title2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.titleText {
    position: relative;
    margin: 0;
    font-size: 112px;
    font-weight: bolder;
    color: rgb(80, 176, 255);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    top:200px;
}
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
    word-wrap: break-word;
}
.small {
    font-size: 30px;
}
body {
    background-color: #22cde8;
    /* background-image: linear-gradient(to bottom right, rgb(0, 247, 255) , rgb(8, 175, 204) , rgb(0, 102, 255), rgb(8, 175, 204), rgb(0, 247, 255)) */
}

a {
    color: #003d66;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}
.nav {
    background-color: #0b8294b0;
    width:100%;
    margin-top:20px;
    border-top: 20px solid blue;
    border-bottom: 20px solid blue;
    margin-bottom: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav a {
    text-decoration: none;
    color: #003d66;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    display: inline-block;
    margin: 5px;
    margin-right: 20px;
    font-weight: bolder;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.nav a:hover {
    background-color: white;
    opacity: 0.5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.cat {
    color: gold;
}
.white {
    color: white;
}
.whiteBackIntro {
    background-color: white;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}
.colour {
    color:#003d66;
    font-size: 30px;
}
.hamishBack {
    background-image: url('../images/ipad stuff 002.JPG');
}
.gold {
    color: goldenrod;
}
.inlineBlock {
    display: inline-block;
}
.introduction {
    background-color: #9ddaee;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
}
.blue {
    color: blue;
}
.listCont {
    text-align: center; 
}
.listBack {
    padding: 20px;
    width: 75%;
    display: inline-block;
    background-color: aqua;
    border-radius: 10px; 
    box-shadow: 10px 10px 5px rgba(56, 66, 63, 0.685);
    background-position: center; 
    margin-bottom: 25px;
    margin-top: 25px;
    height: 200px;
}
.profile {
    background-color: blue;
    height: auto;
    width: 100%;
    display: inline-block;
}

.profileFormat {
    margin-top: 1px;
}

.image {
    border-radius: 50%;
    height: 100%;
    width: 8%;
    display: inline-block;
}
.block {
    display:block;
}
.icon {
    font-size: 30px;
    color:blue;
}
.big {
    font-size: 100px;
}
.Xbig {
    font-size: 900px;
}
.XXbig {
    font-size: 1000px;
}
.reminder {
    border: 10px double blue;
}
.displayTitle {
    display: inline-block;
    position: relative;
    left:100%;
}

.displayPoints {
    position: relative;
    left:30%
}

.menuIcon {
    font-size: 30px;
    color: #003d66;
    float: right;
    margin: 10px;
}

.modelBack {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.model {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 300px;
    height: 1000px;
    background-color: #0083ff;
    padding-top: 50px;
    box-shadow: 10px 10px 5px #003d66;
}

.model a{
    display: block;
}

.exit {
    color:red;
    background-color: cyan;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.modelImage {
    border-radius: 50%;
    height: 10%;
    width: 40%;
    display: inline-block;
}

.choosePicInput {
    font-size: 10px;
}
.center {
    text-align: center;
}

.diamond {
    color: #0004e6;
    font-size:200px;
}
.divButton {
    background-color: #22cde8;
    width: 40%;
    z-index: 2;
    box-shadow: 10px 10px 5px #003d66;
}
.time {
    background-color: rgb(0, 153, 255);
    width: 100%;
    height: 190px;
    border-right: 20px solid #003d66;
    border-left: 20px solid #003d66;

}

.time h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 100px;
}

.datetime {
    font-size: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(0, 153, 255);
    border-right: 20px solid #003d66;
    border-left: 20px solid #003d66;
    margin-top: 10px;
}

.welcome {
    text-align: center; 
    border: 30px solid blue; 
    color: rgba(30, 240, 255, 0.808); 
    background-color:rgb(0, 152, 199);
    padding: 10px;
    font-size: 15px;
    margin-top: 10px;
}

.display {
    font-size: 30px;
}
.upper {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
}

.divCenter {
    display: inline-block;
}
#notifications {
    text-align: center;
}

.blueBack {
    background-color: #22cde8;
}

/* .board {
    
    
} */
.darkerblue {
    color: #05155c;
}
.boardContainer {
    padding: 20px;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #0084fff5;
    border-radius: 10px; 
    box-shadow: 10px 10px 5px rgba(56, 66, 63, 0.685);
    background-position: center; 
    margin-bottom: 25px;
    margin-top: 25px;

}
.textLeft {
    float:left;
}

.textRight {
    float:right;
}

.meowButton {
    display: none;
    border:none;
    background-color: goldenrod;
}
.downButton {
    display: none;
    border:none;
    background-color: rgb(0, 217, 255);
}

.catPicsRight {
    width: 50%;
    height: auto;
    float:right;
}
.catPicsLeft {
    width: 50%;
    height: auto;
    float:left;
}

.footer {
    text-align: center;
    color: black; 
    background-color: rgb(1, 6, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 600px;
    width: 100%;
    font-size: 20px;
}

.down {
    display: none;
    font-size: 30px;
    color: blue;
}

.model2 {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 300px;
    height: 500px;
    background-color: #0083ff;
    padding-top: 50px;
    box-shadow: 10px 10px 5px #003d66;
    float:center;
    margin: auto;
}

.newTitles {
    text-align: center; 
    border: 40px solid blue; 
    font-size: 70%;
    padding: 20px;
    color: #006cf9
}
.goldBack {
    background-color: goldenrod;
}
.yellowBorder {
    border-color: yellow;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .left {
      text-align: left;
  }
/*-----------------------------------------------------------------------------@media---------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    .titleText {
        position: relative;
        margin-top: 0;
        font-size: 68px;
        font-weight: bolder;
        color: rgb(80, 176, 255);
        font-family: 'Orbitron', sans-serif;
        text-align: center;
        top:380px;
    }
    .small {
        font-size: 30px;
    }
    .image {
        border-radius: 50%;
        height: 100%;
        width: 40%;
        display: inline-block;
    }
    .time {
        background-color: rgb(0, 153, 255);
        width: 100%;
        height: 80px;
        border-right: 20px solid #003d66;
        border-left: 20px solid #003d66;
    
    }
    #time {
        text-align: center;
        margin-top: 100px;
        font-size: 50px;
    }
}

@media screen and (max-width: 800px) {
    p,
    div,
    a {
        font-size: 20px;
    }
    #time {
        text-align: center;
        margin-top: 100px;
        font-size: 50px;
    }
    .time {
        background-color: rgb(0, 153, 255);
        width: 100%;
        height: 80px;
        border-right: 20px solid #003d66;
        border-left: 20px solid #003d66;
    
    }
}

@media screen and (max-width: 1300px) {
    .nav .none {
        display: none;
    }
    .nav .center {
        text-align: center;
    }
    .down {
        display: inline-block;
        font-size: 30px;
        color: blue;
    }
    .downButton {
        display: inline-block;
        border:none;
        background-color: rgb(0, 217, 255);
    }
    .meowButton {
        display: inline-block;
        border:none;
        background-color: goldenrod;
    }
}

@media screen and (max-width:886px) {
    .catPicsLeft {
        width: 100%;
        height: auto;
        float:left;
    }
    .catPicsRight {
        width: 100%;
        height: auto;
        float:right;
    }
}

@media screen and (max-width:603px) {
    .big {
        font-size: 50px;
    }

    .newTitles h1 {
        font-size: 20px;
    }
}

/* @media screen and (max-width:1024px) {
    .catPicsLeft {
        width: 30%;
        height: auto;
        float:left;
    }
    .catPicsRight {
        width: 30%;
        height: auto;
        float:right;
    }
} */
/*-----------------------------------------------animations-------------------------------------------*/
.animation1 {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
    -webkit-animation-name: ani1;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    animation-name: ani1;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
}

@keyframes ani1 {
    0% {
        top: 0;
        left: 0;
        background-color: blue;
    }
    25% {
        top: 0;
        left: 80%;
        background-color: cyan;
    }
    50% {
        top: 90%;
        left: 80%;
        background-color: darkblue;
    }
    75% {
        top: 90%;
        left: 0;
        background-color: darkcyan;
    }
    100% {
        top: 0;
        left: 0;
        background-color: blue;
    }
}
.animation2 {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
    -webkit-animation-name: ani3;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    animation-name: ani3;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
}
@keyframes ani3 {
    0% {
        top: 80%;
        left: 80%;
        background-color: blue;
    }
    25% {
        top: 80%;
        left: 0;
        background-color: cyan;
    }
    50% {
        top: 0;
        left: 0;
        background-color: darkblue;
    }
    75% {
        top: 0;
        left: 80%;
        background-color: darkcyan;
    }
    100% {
        top: 80%;
        left: 80%;
        background-color: blue;
    }
}
.huzi {
    width: 100%;
    height: 100px;
    -webkit-animation-name: ani2;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-name: ani2;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes ani2 {
    0% {
        height: 100px;
    }
    25% {
        height: 250px;
    }

    50% {
        height: 500px;
    }
    75% {
        height: 250px;
    }
    100% {
        height: 100px;
    }
}